In [1]:
import pandas as pd

## 1 
- Загрузите данные о пассажирских авиаперевозках и визуализируйте временной ряд, чтобы оценить его стационарность. На графике обратите внимание на наличие тренда, сезонных колебаний или изменяющейся дисперсии.
- Примените тест Дики-Фуллера (ADF) и определите, является ли ряд стационарным или нет. Какое значение p-value вы получили при применении теста АDF(округлите до 2 знака после запятой)?
- Примените тест KPSS и определите, является ли ряд стационарным или нет. Какое значение p-value вы получили при применении теста KPSS(округлите до 2 знака после запятой)?

In [3]:
df = pd.read_csv('../data/03-1-airline-passengers.csv')
df

       Month  Passengers
0    1949-01         112
1    1949-02         118
2    1949-03         132
3    1949-04         129
4    1949-05         121
..       ...         ...
139  1960-08         606
140  1960-09         508
141  1960-10         461
142  1960-11         390
143  1960-12         432

[144 rows x 2 columns]

## 2 
- Загрузите временной ряд данных о ежедневных ценах на нефть (например, WTI)
- Примените скользящее среднее с окном в 30 дней для удаления тренда. 
- Постройте графики исходного и преобразованного ряда.
- Определите, является ли временной ряд стационарным или нестационарным, используя графический метод (график) и статистический тест (ADF тест). Для этого используйте данные о ценах на нефть (WTI).
- Примените разностное преобразование для данных о ценах на нефть и постройте график разностей.
- Примените разностное преобразование для сезонных данных о ценах на нефть (например, период сезонности — 12 дней). Постройте график после сезонной разности.
- Проверьте стационарность временного ряда цен на нефть с помощью теста ADF (Augmented Dickey-Fuller) до и после преобразования ряда.Изменилась ли стационарность ряда?

In [4]:
df = pd.read_csv('../data/03-2-wti-daily.csv')
df

             Date  Price
0      1986-01-02  25.56
1      1986-01-03  26.00
2      1986-01-06  26.53
3      1986-01-07  25.85
4      1986-01-08  25.87
...           ...    ...
10015  2025-10-14  59.52
10016  2025-10-15  59.08
10017  2025-10-16  58.29
10018  2025-10-17  58.30
10019  2025-10-20  58.34

[10020 rows x 2 columns]